.KPI{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
    gap: 20px;

    width: 250px;
    height: 140px;
    padding: 20px 25px;
    color: var(--branco);
    box-shadow: var(--sombra-comum)
}

.KPI span{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.KPI span > *, .KPI h4{
    font-weight: 600;
}

.KPI svg{
    font-size: 26px;
}