.KPI{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

    width: 280px;
    padding: 10px 10px;
    color: var(--branco);
    box-shadow: var(--sombra-comum)
}

.KPI > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.KPI > div:last-child{
    flex-direction: column;
    align-items: start;
}

.KPI span{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    gap: 5px;
}

.KPI span > *, .KPI h4{
    font-weight: 600;
}

.KPI h3{
    font-size: 18px;
}

.KPI svg{
    font-size: 26px;
}