.SideMenu {
    width: 74px;
    height: 720px;
    background-color: var(--gunmetal);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 0 8px var(--vermelho);
    border-radius: 0px;
}

.group {
    margin-top: 260px;
    height: 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.icon {
    width: 30px;
    height: 30px;
    color: var(--branco) !important;
}