/* =========== Header =========== */
header{
    width: 100%;
    padding: 10px 0 5px 0;
    border: solid 0 var(--gunmetal);
    border-bottom-width: 1px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
header > div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

header > div:first-child > div:last-child{
    justify-content: end;
}

header h2{
    font-family: "Bebas Neue";
}

.iconButton{
    color: var(--gunmetal);
    font-size: 24px;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms ease-out;
    filter: var(--sombra-vermelha-icone);
}
.iconButton *{
    cursor: pointer;
    font-size: inherit;
}
.iconButton:hover{
    opacity: 0.75;
}

.divPeriodo, .divAtualizacao{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 5px;
}
.divAtualizacao{
    color: var(--carvao);
    align-items: center;
}

.animarCarregamento{
    animation: 500ms infinite girar;
}
@keyframes girar{
    from {transform: rotate(0deg);} 
    to {transform: rotate(360deg);}
}
/* ============================== */

/* ============= KPIS =========== */
.KPIs{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}
/* ============================== */

/* ========= GRÃFICOS =========== */
.graficos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.graficos > span{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.divGrafico{
    width: 100%;
    height: 320px;
    background-color: var(--cinza);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* ============================== */
