.group{
    display: flex;
    flex-direction: row;
    height: 100%;
    gap:4%;  
}
.titulo{
    font-size: 1.4em;
}
.Global{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.NavTop{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 1010px;
    height: 10vh;
    padding: auto;
}   
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}
.Chart{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 980px;
    height: 87%;
}
.list{
    width: 98%;
    height: 300px;
    background-color: var(--white);
    border-radius: 15px;
    border: 1px solid var(--white);
    margin-bottom: 1%;
    overflow: hidden;
}
.SideMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    height: 100%;
}
.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 10%;
    margin-left: 45%;
}
.DivKpis{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90%;
}