.group{
    display: flex;
    flex-direction: row;
    height: 100%;
    gap:4%;  
}
.titulo{
    font-size: 1.4em;
}
.Global{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.NavTop{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70vw;
    height: 10vh;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}
.Chart{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    height: 87%;
}
.list{
    width: 98%;
    height: 48vh;
    background-color: var(--white);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--white);
    overflow: hidden;
}
.SideMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    height: 100%;
}
.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 8%;
    margin-left: 45%;
}
.DivKpis{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 92%;
}

.updateInfo{
    cursor: default;

    > span{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        > p{
            font-size: 0.8em;
        }
    }

    .staticIcon{
        cursor: pointer;
        filter: var(--sombra-vermelha-icone);
    }
    .loadingIcon{
        display: none;
    }
}

.loading{
    .staticIcon{
        display: none;
    }
    .loadingIcon{
        display: block;
        animation: girar 1s linear infinite;
    }
}
@keyframes girar {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}