.group{
    display: flex;
    flex-direction: row;
}
.titulo{
    font-size: 1.4em;
}
.Global{
    display: flex;
    flex-direction: column;
}
.NavTop{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    height: 10vh;
    padding: auto;
}   
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}
.Charts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 980px;
    height: 295px;
}

.SideMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
}
.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 6%;
    margin-left: 45%;
}
.DivKpis{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 62%;
}