@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/*
O :root define variáveis em CSS. As usamos para mudar um valor em todo o site
alterando-o apenas aqui, assim como com as variáveis do Figma!!!
*/
:root {
    /* Fontes */
    --fonte-artistica: UnifrakturCook, Georgia, serif;
    --fonte-destaque: "Bebas Neue", Tahoma, sans-serif;
    --fonte-corpo: "DM Sans", Tahoma, sans-serif;

    /* Paleta de cores */
    --white: #F5FBEF;
    --preto: #0A0908;
    --gunmetal: #22333B;
    --carvao: #254A5B;
    --cinza-transparente: #C9C9C9;
    --vermelho: #CC334E;
    --azul-claro: #65B5DA;
    --green:#2DD36F;
    --yellow: #FFCA3A;
    --orange:#EE6123;
    --gradiente: linear-gradient(
        to right,
        var(--gunmetal),
        var(--carvao),
        var(--gunmetal)
    );

    /* Bordas */
    --borda-branca:  1px solid var(--white);
    --borda-grossa-branca:  2px solid var(--white);
    --borda-fina-branca: 0.5px 8px solid var(--white);

    /*  Sombras */
    /* IN = Interna; EX = Com espaçamento adicional, para acomodar bordas*/
    --sombra-branca: 3px 3px 1px 2px var(--white);
    --sombra-vermelha: 0 0 5px var(--vermelho);
    --sombra-in-escura: 0 0 15px 3px var(--preto) inset;
    --sombra-in-clara: 1px 1px 10px 3px var(--azul-claro) inset;
    --sombra-ex-vermelha: 3px 3px 3px 1px var(--vermelho);
    --sombra-vermelha-icone: drop-shadow(0px 0px 3px var(--vermelho));
}

/**
* Apesar da body conter todo o conteúdo do site normalmente, no caso do REACT é utilzado a div com id Root.
*    (Nesse caso #desktopRoot) então devemos estilizar a #desktopRoot e manter a body apenas por boa prática. 
**/

body{
    display: block;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

#root{
    height: 100vh;
    width: 100vw;
    outline: 2px solid white;
    background: var(--gradiente);
    display: flex;
}

*{
    color: var(--white);
    font-family: var(--fonte-corpo);
    margin: 0;
    padding: 0;
    font-size: 20px;
    box-sizing: border-box;
    /*
    O "em" representa n vezes o font-size base (definido acima)
    É usado para caso desejemos aumentar o tamanho da fonte, mudamos
    só o base e todo o resto do site é mudado junto.

    Tamanhos em "em":
    • 12px: 0.5em
    • 24px: 1em
    • 48px: 2em
    • 64px: 2.67em
    */
}

h1{
    font-size: 2.6em;
    font-family: var(--fonte-artistica)
}
h2{
    font-size: 1.7em;
    margin: 0;
}
h4{
    font-size: 1.3em;
    margin: 0;
}
path{
    color: var(--white);
}   
